header {
    background-color: hsl(0, 89%, 39%);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;

}

nav {
    text-align: center;
    margin: 20px 0;
}

.MainPagePhotos {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin: 10px 5px;
    border-radius: 10px;
    border: 5px chartreuse;
    object-fit: cover;
    
}

.nav-btn {
    display: inline-block;
    background-color: hsl(0, 18%, 34%);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px 100px;
    margin: 0 15px;
    font-size: 25px;
    border-radius: 75px;
    font-family: inherit;
    transition: background-color 0.3s ease;
}

h1 {
    margin: 0;
}

h2 {
    margin-bottom: auto;
}

main {
    padding: 20px;
    text-align: center;
}
.MainText {
   
    background-size: auto;
    color: rgb(0, 0, 0);

}

.birthplace {

    width: 100%;
    max-width: 400px;
    height: 300px;
}

.aboutPictures {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-left: auto;
    margin-right: 0;
    margin: 10px 5px;
    border-radius: 10px;
    border: 5px chartreuse;
    object-fit: cover;


}

table {

    width: 100%;
    border-collapse: collapse;
}

th {

    background-color:hsl(0, 89%, 39%);
    color: rgb(255, 255, 255);
    font-size:larger;
    font-weight: 600;
    padding: 1%;

}

td {
    padding: 2%;
    border-style:double;
    border-color:black
}

footer {
    text-align: center;
    padding: 10px;
    background-color: hsl(0, 89%, 39%);
    color: white;
    position:relative;
    bottom: 0;
    width: 100%;
}
